:root {
  --txt--color-pink: #FF5087;
  --txt--color-blue: #003BDF;
  --txt--color-ciano: #00E1E1;
}

body {
  background-color: #180A29;
}

p {
  font-family: 'Trebuchet MS';
  &.p-gray {
    color: #707070 !important;
  }
  &.p-white {
    color: whitesmoke !important;
  }
  &.p-ciano {
    color: #00E1E1 !important;
  }
  &.p-medium {
    font-size: 18px !important;
  }
  &.p-minium {
    font-size: 14px;
  }
  &.p-maxium {
    font-size: 22px;
  }
}

input {
  border-radius: 50px !important;
  border-color: whitesmoke !important;
  border-width: 2px !important;
  background-color: transparent !important;
  color: whitesmoke !important;
}

input::placeholder {
  color: whitesmoke !important;
}

label {
  color: whitesmoke !important;
  font-weight: 700 !important;
}

.img-logo-menu {
  height: 5rem;
}

.img-arrow-home {
  height: 1.5rem;
} 

.img-skill-home {
  height: 3rem;
}

.img-menu-category {
  height: 2rem;
}

.img-teacher {
  height: 4.5rem;
}

.img-teacher-carousel {
  height: 6rem;
  border-radius: 50%;
}

.img-insight {
  height: 54rem;
  opacity: 8%;
  position: absolute;
  margin-top: -13rem;
  margin-left: 25rem;
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.9);
}

.img-news {
  height: 11.5rem;
  opacity: 13%;
  position: absolute;
  margin-top: -3rem;
  margin-left: -5rem;
}

.img-contact-flutu-button {
  height: 2.4rem;
} 

.img-color-dark {
  filter: invert(3%) sepia(77%) saturate(3586%) hue-rotate(262deg) brightness(99%) contrast(98%);
}

.img-color-siano {
  filter: invert(80%) sepia(42%) saturate(5013%) hue-rotate(130deg) brightness(98%) contrast(103%); 
}

.img-color-white {
  filter: invert(100%) sepia(7%) saturate(7467%) hue-rotate(249deg) brightness(118%) contrast(100%);
}

.img-color-pink {
  filter: invert(43%) sepia(68%) saturate(1941%) hue-rotate(314deg) brightness(104%) contrast(101%);
}

.img-color-blue {
  filter: invert(13%) sepia(100%) saturate(5055%) hue-rotate(228deg) brightness(87%) contrast(104%);
}

h1, h2, h3, h4, h5, h6 {
  color: whitesmoke;
}

.h-span {
  font-size: 55px;
  font-weight: 750;
  background: -webkit-linear-gradient(left, whitesmoke 0%, var(--txt--color-ciano) 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h-dark {
  color: #180A29 !important;
}

.h-pink {
  color: var(--txt--color-pink);
}

.h-blue {
  color: var(--txt--color-blue);
}

.txt-color-transparent {
  color: white;
  opacity: 12%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
  border-radius: 50rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.btn-default {
  color: whitesmoke !important;
  background-color: #00E1E1 !important;
  border-color: #00E1E1 !important;
}

.btn-outline-light {
  color: #00E1E1 !important;
  border-color: #00E1E1 !important;
}

.btn-outline-light:hover {
  color: whitesmoke !important;
  background-color: #00E1E1 !important;
}

.contact-around {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #00E1E1;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  padding-top: .5rem;
}

.big-contact-around {
  height: 70px;
  width: auto;
  border-radius: 50px 0% 0% 50px;
  background-color: #00E1E1;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  padding-top: 1rem;
  margin-top: -5rem;
}

.fixed {
  position: fixed;
  right: 5rem;
  bottom: 3rem;
}

.contact-fixed {
  position: absolute;
  right: 0;
}

.item-century {
  display: block;
  margin: auto;
  text-align: center;
}

.no-decorer {
  text-decoration: none !important;
}

.big-lattle {
  font-size: 200px;
}

.card-gray {
  background-color: #F7F7F7 !important;
  border-radius: 10px !important;
}

.card-ciano {
  background-color: var(--txt--color-ciano) !important;
  border-radius: 35px !important;
}

.card-radius-10 {
  border-radius: 10px !important;
}

.card-radius-35 {
  border-radius: 35px !important;
}

.card-radius-left-35 {
  border-radius: 35px 0px 0px 35px !important;
}

.card-radius-rigth-35 {
  border-radius: 0px 35px 35px 0px !important;
}

.card-no-border {
  border-color: transparent !important;
  padding-left: 40px;
  padding-right: 40px;
}

.card-size-fixed {
  height: 17rem !important;
}

.card-position-top {
  margin-top: -5rem;
}

.transition-card-pink:hover {
  background-color: var(--txt--color-pink) !important;
  p {
    color: whitesmoke !important
  }
  strong {
    color: whitesmoke !important
  }
  .img-color-pink {
    filter: invert(100%) sepia(7%) saturate(7467%) hue-rotate(249deg) brightness(118%) contrast(100%);
  }
}

.transition-card-blue:hover {
  background-color: var(--txt--color-blue) !important;
  p {
    color: whitesmoke !important
  }
  strong {
    color: whitesmoke !important
  }
  .img-color-blue {
    filter: invert(100%) sepia(7%) saturate(7467%) hue-rotate(249deg) brightness(118%) contrast(100%);
  }
}

.label-news {
  color: whitesmoke;
  font-size: 60px;
  font-weight: 700;
}

.delimiter {
  column-gap: 40px;
}

.less-margin-p {
  margin-top: -10px;
  margin-bottom: -5px;
}

.carousel-control-prev, 
.carousel-control-next {
  width: 2% !important;
}

.carousel-control-prev {
  margin-left: -5% !important;
}

.carousel-control-next {
  margin-right: -5% !important;
}

.carousel-indicators {
  margin-bottom: -3% !important;
}

.teacher-select:hover {
  background-color: var(--txt--color-ciano);
  height: 3% !important;
  border-radius: 20px !important;
}